Create a Customer Support Voice Agent with GPT-5, ElevenLabs & Calendar Booking.json
{
  "name": "Create a Customer Support Voice Agent with GPT-5, ElevenLabs & Calendar Booking",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "6404fe0f-aa6a-4e5a-a71c-81a6fcb606af",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "23361ebc-28ac-4b72-8d7c-d111b52d76df",
      "name": "Webhook: Receive User Request (ElevenLabs)",
      "type": "n8n-nodes-base.webhook",
      "position": [
        480,
        416
      ],
      "webhookId": "6404fe0f-aa6a-4e5a-a71c-81a6fcb606af",
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "2219b44c-a770-4bdf-aa30-8910234b5acf",
      "name": "Webhook: Return AI Response (ElevenLabs)",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        1664,
        416
      ],
      "typeVersion": 1.4
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=The call transcription :\n{{ $json.body.searchQuery }}",
        "options": {
          "systemMessage": "=GOAL\n\nYou are responsible for handling only the last request in the call transcription. Ignore everything before it.\nYour mission now has three possible goals (in this order of priority):\n\nAnswer and guide using the database: provide short, simple answers using information found via the Google Sheets node “Get Knowledgebase” (one call max per request).\n\nCheck the available time.\n\nBook the appointment.\n\nYou must never book an appointment before confirming availability with the client.\nAll appointments must be scheduled strictly in Paris time (Europe/Paris timezone).\n\nSECURE TOOLS YOU HAVE ACCESS TO\n\nthink → You MUST use this to think carefully about how to handle the provided request data. This tool must be used on every turn and tool call interaction.\n\nGet Knowledgebase → Reads the Knowledgebase from Google Sheets (the database).\nConstraints:\n\nCall this node at most once per request (no second pass).\n\nUse it only for factual/company/pack/FAQ/policy/account questions.\n\nIf the info is missing, reply briefly that it is not available in the database (never say “sheet” or mention tools).\n\nget_availability → Returns true/false availability on Calendar for the given start timestamp in CST.\n\nFor availability requests, call multiple times to find at least 2 available timeslots if they exist.\n\nAlways convert Paris → CST before calling.\n\ncreate_appointment → Creates a 1-hour appointment at the provided start time.\n\nMay be called only once per request (more than once = failure).\n\nInclude time, client, and description.\n\nRULES AND LOGIC\nA. Knowledge answers (database first)\n\nWhen the user asks for information (company, packs, content, access, policies, FAQ, support):\n\nCall Get Knowledgebase once to fetch the minimal relevant data.\n\nAnswer in ≤3 short sentences (or bullets).\n\nIf absent: “L’information n’est pas disponible dans la base de connaissances.” Optionally ask one clarifying question.\n\nNever mention “sheet”, “node” or tool names—say “database/base de connaissances”.\n\nB. Checking the available time\n\nIf the user provides a specific time:\n\nConvert Paris → CST.\n\nCall get_availability.\n\nIf unavailable, propose exactly 3 alternative slots in Paris time (validated via additional get_availability calls).\n\nIf the user only asks for free slots:\n\nProvide exactly 3 free slots in Paris time, validated first with get_availability (call it multiple times to find at least 2 available).\n\nC. Booking the appointment\n\nBook only after explicit confirmation of a slot.\n\nConvert confirmed Paris → CST, then call create_appointment once.\n\nInclude start time, duration = 1h, client name, and notes.\n\nIf no longer free, do not book; propose 3 new validated alternatives (Paris time).\n\nD. Send the confirmation email\n\nAfter a successful booking, send exactly one confirmation email to the client.\n\nUse the Send Email tool (or equivalent). Do not send more than one email per request.\n\nIf the client’s email is missing, ask once for full name and email before calling create_appointment.\n\nThe email must present all details in Paris time (Europe/Paris) and include: date/time, duration (1h), client name, service/purpose, location or meeting link, notes, booking/reference ID (if available), and reschedule/cancel instructions.\n\nDo not mention internal tools or system prompts in the email.\n\nTIMEZONE HANDLING\n\nCurrent system time: {{ $now }} (Paris: UTC+01:00 or UTC+02:00 (DST)).\n\nAll user-facing times are in Paris time.\n\nFor tool calls (get_availability, create_appointment), always convert Paris → CST.\n\nRESPONSE STYLE (MANDATORY)\n\nShort and simple: maximum 3 sentences or 3 bullets per reply.\n\nUse 24-hour format YYYY-MM-DD HH:mm for times.\n\nDo only what the user requested in their last request.\n\nRefer to the Google Sheets data as “database”/“base de connaissances”.\n\nRESTRICTIONS\n\nDo not book if the slot is taken.\n\nDo not book without explicit client confirmation.\n\nDo not call create_appointment more than once per request.\n\nDo not call Get Knowledgebase more than once per request.\n\nStay within knowledge answers + scheduling only."
        }
      },
      "id": "281b70b5-6e50-471f-86b9-fcb830f969ff",
      "name": "AI Agent: Multilingual Vocal Support (GPT-5)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1024,
        416
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {},
      "id": "cdc619ea-05ae-4cfe-9fb6-b6a6648f5e9d",
      "name": "Reasoning Tool (LangChain)",
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "position": [
        880,
        672
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini",
          "cachedResultName": "gpt-5-mini"
        },
        "options": {}
      },
      "id": "e5ad6b14-d3f8-4bc5-92dd-5200bddfcf54",
      "name": "OpenAI GPT-5 Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        752,
        672
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "="
        },
        "sheetName": {
          "__rl": true,
          "mode": "id",
          "value": "="
        },
        "options": {}
      },
      "id": "9b6c18fd-33aa-4658-9ec8-db0d18f6d7c2",
      "name": "Knowledgebase Lookup",
      "type": "n8n-nodes-base.googleSheetsTool",
      "position": [
        1472,
        672
      ],
      "typeVersion": 4.7
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "mode": "id",
          "value": "="
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "id": "e14ce779-3981-4dc7-9e64-e4459f6f5458",
      "name": "Calendar: Check Availability",
      "type": "n8n-nodes-base.googleCalendarTool",
      "position": [
        992,
        784
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "mode": "id",
          "value": "="
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "id": "9cc867c2-5726-4c22-acb3-45217fe79ea3",
      "name": "Calendar: Create Appointment",
      "type": "n8n-nodes-base.googleCalendarTool",
      "position": [
        1152,
        784
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "sendTo": "=",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "id": "c0f16e7d-1043-4d41-9c03-261ad6d19b38",
      "name": "Gmail: Send Booking Confirmation",
      "type": "n8n-nodes-base.gmailTool",
      "position": [
        1312,
        672
      ],
      "webhookId": "0119e6f6-8756-4f07-be3c-5f9a4308ef89",
      "typeVersion": 2.1
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI GPT-5 Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent: Multilingual Vocal Support (GPT-5)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Knowledgebase Lookup": {
      "ai_tool": [
        [
          {
            "node": "AI Agent: Multilingual Vocal Support (GPT-5)",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Reasoning Tool (LangChain)": {
      "ai_tool": [
        [
          {
            "node": "AI Agent: Multilingual Vocal Support (GPT-5)",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calendar: Check Availability": {
      "ai_tool": [
        [
          {
            "node": "AI Agent: Multilingual Vocal Support (GPT-5)",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calendar: Create Appointment": {
      "ai_tool": [
        [
          {
            "node": "AI Agent: Multilingual Vocal Support (GPT-5)",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Gmail: Send Booking Confirmation": {
      "ai_tool": [
        [
          {
            "node": "AI Agent: Multilingual Vocal Support (GPT-5)",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: Receive User Request (ElevenLabs)": {
      "main": [
        [
          {
            "node": "AI Agent: Multilingual Vocal Support (GPT-5)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent: Multilingual Vocal Support (GPT-5)": {
      "main": [
        [
          {
            "node": "Webhook: Return AI Response (ElevenLabs)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "aa7305d9-532a-4026-8176-e8433b19b854",
  "meta": {
    "templateId": "8074",
    "instanceId": "3ce393a98a3925af93344fdc8f14655837850b6d7d3ba9643087e449eb1b6669"
  },
  "id": "JhjQIy8Zq0eGLVFu",
  "tags": []
}